body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ffecd2 0%, #fcb69f 100%);
}

h1,
h2,
h3 {
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

ul {
    list-style: none;
    padding: 0;
}

/* Запрет на выделение текста */
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Шапка */
header {
    background-color: #008b8b;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.lessons {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#sidebar {
    float: left;
    width: 150px;
}

/* Стили для неактивных кнопок в #sidebar */
#sidebar ul li button {
    background: #FFD1B3 !important; /* светло-оранжевый фон */
    border: 1px solid #FF8C66 !important; /* темно-оранжевый цвет рамки */
    color: #555 !important;
    transition: background 0.3s, color 0.3s !important;
}

/* Стили для активной кнопки в #sidebar */
#sidebar ul li button.active {
    background: linear-gradient(135deg, #FF8C66, #FF6347) !important; /* градиентный фон для активной кнопки */
    border-color: #FF6347 !important; /* цвет рамки */
    color: #fff !important;
    font-weight: bold !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4) !important;
}

/* Стили для кнопок в #sidebar при наведении */
#sidebar ul li button:hover {
    background: #FFB199 !important; /* светло-оранжевый фон при наведении */
    color: #333 !important;
}

/* Общие стили для всех кнопок */
button {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #FFA07A; /* персиковый цвет рамки */
    border-radius: 5px;
    background: linear-gradient(135deg, #FFDAB9 0%, #FFE4B5 100%); /* светло-персиковый фон */
    cursor: pointer;
    color: #555;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: linear-gradient(135deg, #FFE4B5 0%, #FFDAB9 100%); /* светло-персиковый фон при наведении */
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#content {
    margin-left: 170px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 5px;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

ul {
    list-style-type: none;
    padding: 0;
}

button span {
    white-space: normal;
    text-align: center;
}

.class-number,
.class-label {
    white-space: normal;
    text-align: center;
}

.class-number {
    font-size: 25px;
}

.class-label {
    font-size: 14px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Футер */
footer {
    background: linear-gradient(135deg, #111111, #333333);
    color: #ffffff;
    padding: 20px 0;
    margin-top: 20px;
}

.footer-section h3,
.footer-section a,
.footer-section p {
    color: #ffffff;
}

/* Адаптивность и кастомные стили */
@media (min-width: 768px) {
    .container {
        padding: 20px 40px;
    }

    nav ul li {
        margin: 0 25px;
    }

    .footer-section {
        display: inline-block;
        vertical-align: top;
        width: 23%;
        margin: 0 1%;
        text-align: left;
    }

    .blog-post img {
        height: 150px;
    }

    #teachersList {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* СКРОЛЛБАР УРОКОВ */
#content::-webkit-scrollbar {
    width: 10px;
}

#content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#content::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #e6c3a0 0%, #d3b092 100%);
    border-radius: 10px;
}

#content::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #d3b092 0%, #e6c3a0 100%);
}

#content {
    scrollbar-width: thin;
    scrollbar-color: #d3b092 #f1f1f1;
}

/* ОБЩИЙ СКРОЛЛБАР */
::-webkit-scrollbar {
    width: 8px;
    height: 1px;
}

::-webkit-scrollbar-track {
    background: #fcb69f93;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #d1917f 0%, #c47c5a 100%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #c47c5a 0%, #d1917f 100%);
}


#background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #e0f7da; /* бледно-зеленый фон */
}

.lessons-container {
    background: linear-gradient(135deg, rgba(255, 236, 210, 0.7) 0%, rgba(252, 182, 159, 0.7) 100%); /* Белый фон для контейнера с уроками */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px; /* Добавьте отступы, чтобы контейнер не был вплотную к краям */
}
