/* Основные стили для страницы */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* Контейнер для основного содержимого */
.containero {
    max-width: 900px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex: 1;
}

/* Заголовки */
h1 {
    color: #007BFF;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Стили для параграфов */
p {
    line-height: 1.6;
    margin: 10px 0;
}

/* Стили для списков */
ul {
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}


/* Стили для footer */
footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Стили для кнопок */
button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}
