body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

/* Запрет на выделение текста */
body {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

main {
    max-width: 800px;
    margin: 20px auto; 
    padding: 0 20px;
    font-size: 22px;
}

header {
    background-color: #008b8b;
    color: white;
    text-align: center;
    padding: 3px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 50px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

h1, h2 {
    color: #333;
}

h1 {
    font-size: 31px;
}

h2 {
    font-size: 25px;
}

p {
    line-height: 1.6;
}

footer p {
    margin: 0;
}
